<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Publisher list</h1>
    <ul>
        {% for pub in publisher %}
           <li>{{pub.name}}</li>
           <li>{{pub.addr}}</li>
           <li>{{pub.city}}</li>
        {% endfor %}   
    </ul>

    <h1>Author list </h1>
    <ul>
        {% for a in author %}
           <li>{{a.first_name}}</li>
           <li>{{a.last_name}}</li>
           
        {% endfor %}   
    </ul>

    <h1>Books list</h1>
    <ul>
        {% for b in books %}
           <li>{{b.title}}</li>
           <li>{{b.author}}</li>
           
        {% endfor %}   
    </ul>
</body>
</html>
